#content {position: relative;}
#content .scene {position: relative; padding: 50px 0;}


/* BASIC CONTENT */
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {width: 500px;}
#content .scene hr {border: none; border-top: 1px solid #888888; margin: 30px 0 50px; padding: 0;}
#content .scene p.note {font-style: italic;}


/* ADDITIONAL H2 PADDING IN CERTAIN CASES */
#content .scene p+h2,
#content .scene ul+h2,
#content .scene ol+h2,
#content .scene ul+.pagination+h2,
#content .scene dl+h2,
#content .scene div.article+h2,
#content .scene code+h2 {padding-top: 20px;}

#content .scene ul.tags+h2,
#content .scene dl.geo+h2,
#content .scene dl.info+h2 {padding-top: 0;}

#content .scene p+code {margin-top: -15px;}
#content .scene dl.info+dl.geo {padding-left: 0;}


/* LISTS */
#content .scene ul,
#content .scene ol {padding: 0 50px 15px;}


/* ITEMS */
#content .scene ul.items {padding: 0;}
#content .scene ul.items li.item {display: block; padding-top: 20px; padding-bottom: 30px; border-top: 1px solid #dedede;}
#content .scene ul.items li.item h2 {position: relative; z-index: 1;}



/* DEFINITION LIST */
#content .scene dl {padding: 0 50px 15px; width: 500px;}
#content .scene dt {width: 100px; text-align: right; padding: 0 5px 0 0; color: #999999;} 
#content .scene dt:after {content: ":";}
/* one px off dd width, to support Androids */
#content .scene dd {padding: 0 0 6px; width: 394px;}
#content .scene dt span {text-transform: none;}
#content .scene dl dl {padding: 0 0 10px; margin-left: -30px; width: 425px;}
#content .scene dl dl dt {width: 80px;}
/* one px off dd width, to support Androids */
#content .scene dl dl dd {width: 339px;}
#content .scene dl h3,
#content .scene dl h4,
#content .scene dl h5,
#content .scene dl h6 {padding-left: 0; padding-right: 0; padding-top: 10px;}


/* SCENE ACTIONS */
#content .scene > ul.actions {margin: 0 0 20px; padding: 15px 50px;}


/* TAGS */
#content .scene ul.tags {position: relative; z-index: 1; padding-bottom: 20px;}
#content .scene ul.tags li {font-size: 12px; display: inline-block; vertical-align: top;}
#content .scene ul.tags li:after {content: "\00a0|\00a0"; color: #dedede;}
#content .scene ul.tags li:last-child:after {content: "";}
#content .scene li.item ul.tags {}

#content .scene ul.tags li.editing {background: #666666; border-radius: 5px; color: #ffffff; margin: -2px 10px -2px -2px; padding: 2px 10px;}
#content .scene ul.tags li.editing:after {content: "";}


/* INFO */
#content .scene dl.info {position: relative; z-index: 1; padding-bottom: 20px; padding-right: 0; display: inline-block; vertical-align: top; width: auto;}
#content .scene dl.info dt {display: none;}
#content .scene dl.info dd {width: auto; font-size: 12px; color: #999999;}
#content .scene dl.info dd.author:before {content: "\00a0|\00a0"; color: #dedede;}
#content .scene dl.info dd.hardlink {display: none;}


/* GEOLOCATION */
#content .scene dl.geo {position: relative; z-index: 1; padding-bottom: 20px; padding-right: 0; display: inline-block; vertical-align: top; width: auto;}
#content .scene dl.geo .location:before {content: "|\00a0"; color: #dedede;}
#content .scene dl.geo dd {padding-right: 0; width: auto; font-size: 12px; color: #999999;}

#content .scene dl.geo dt {display: none;}
#content .scene dl.geo .latitude,
#content .scene dl.geo .longitude {display: none;}
#content .scene dl.geo.active {cursor: pointer;}


/* MAP */
#content .scene div.geomap {position: relative; z-index: 1; height: 300px; width: 600px; margin-bottom: 20px;}
#content .scene div.geomap iframe {display: block; width: 100%; height: 100%; border: 1px solid #666666; background-color: #ffffff; margin: 0 30px 30px; width: 540px; border-radius: 5px; }
#content .scene li div.geomap {}


/* IMAGE */
#content .scene div.image {position: relative; z-index: 1;}
#content .scene div.image {}
#content .scene div.image img {cursor: zoom-in; margin: 0 30px 30px; width: 540px; border-radius: 5px; overflow: hidden;}
#content .scene div.image p {margin-top: -20px; padding: 0 50px 30px; font-size: 0;}
#content .scene div.image p a {font-style: italic; font-size: 13px; display: block; color: #cccccc; display: none;}
#content .scene div.image.loaded p a {display: block;}
#content .scene div.image.fullsize {}
#content .scene div.image.fullsize img {cursor: zoom-out; width: 100%; margin: 0 0 30px; border-radius: 0;}

/* MEDIA - FROM HTML EDITOR*/
#content .scene div.media {position: relative; z-index: 1;}
#content .scene div.media {}
#content .scene div.media img {cursor: zoom-in;margin: 0 30px 30px; width: 540px; border-radius: 5px; overflow: hidden;}
#content .scene div.media p {margin-top: -20px; padding: 0 50px 30px; font-size: 0;}
#content .scene div.media p a {font-style: italic; font-size: 13px; display: block; color: #cccccc; display: none;}
#content .scene div.media.loaded p a {display: block;}
#content .scene div.media.fullsize {}
#content .scene div.media.fullsize img {cursor: zoom-out; width: 100%; margin: 0 0 30px; border-radius: 0;}


/* PAGINATION */
#content .scene .pagination {display: none;}


/* CATEGORIES */
#content .scene div.categories {padding-bottom: 20px; display: inline-block; vertical-align: top; width: 250px;}
#content .scene div.categories ul {padding-right: 0;}
#content .scene div.categories ul.tags li {font-size: 14px; padding-bottom: 5px; display: block;}
#content .scene div.categories ul.tags li:after {content: "";}
#content .scene div.categories ul.actions {padding-bottom: 0;}
#content .scene div.categories ul.actions li {padding-bottom: 0; font-size: 15px; display: block;}



/* ARTICLE */
#content .scene div.article ul.tags {padding-bottom: 30px;}
#content .scene div.article ul.tags a {color: #cccccc;}


/* ARTICLES */
#content .scene ul.articles {padding: 0;}
#content .scene ul.articles li.article {padding: 20px 0 0; border-top: 1px solid #dedede; position: relative;}
#content .scene ul.articles li.article ul.tags {padding-bottom: 15px;}
#content .scene ul.articles li.article:first-child {border-top: none;}
#content .scene ul.articles li.article h3 {font-size: 18px; line-height: 1em; padding-bottom: 5px;}
#content .scene ul.articles li.article p {font-size: 13px; color: #888888;}
#content .scene ul.articles li.article > svg.checkmark {position: absolute; top: 14px; left: 25px;}
#content .scene ul.articles li.article > svg.checkmark line {stroke: #666666; stroke-width: 3px;}



/* RELATED */
#content .scene div.related {border-top: 1px solid #ccdbcd; padding-top: 40px; position: relative; z-index: 1;}
#content .scene div.related ul.articles {padding: 0;}
#content .scene div.related li.article:first-child {border-top: none;}


/* SHARING */
#content .scene div.sharing {padding: 0; position: relative; height: 40px;}
#content .scene div.sharing p {padding: 0; z-index: 2; position: absolute; top: 22px; left: 100px; display: none; font-size: 11px; color: #999999;}
#content .scene div.sharing h3 {position: absolute; top: 0px; left: 100px; padding: 0; display: none;}
#content .scene div.sharing.hover {z-index: 2;}
#content .scene div.sharing.hover h3,
#content .scene div.sharing.hover p {display: block;}
#content .scene div.sharing svg {z-index: 0; margin-left: 50px; position: absolute; width: 500px; height: 300px; top: -130px;}
#content .scene div.sharing svg rect {cursor: pointer;}
#content .scene div.sharing svg circle.primary {stroke: #666666; fill: #ffffff;}
#content .scene div.sharing svg circle {fill: #ededed; stroke: #999999; stroke-width: 1px;}
#content .scene div.sharing svg line.primary {stroke: #666666;}
#content .scene div.sharing svg line {stroke: #cccccc; stroke-width: 1px;}
#content .scene div.sharing svg rect.primary {fill: #ff0000;}


/* READSTATE */
#content .scene div.readstate div {margin-left: 50px; margin-bottom: 40px; padding: 10px; position: relative; z-index: 1; border-radius: 5px; border: 1px solid #dedede; width: 478px;}
#content .scene div.readstate p {font-size: 13px; color: #dedede; padding: 0 50px 0 0; width: auto;}
#content .scene div.readstate div {cursor: pointer;}
#content .scene div.readstate svg {position: absolute; top: 11px; right: 10px;}
#content .scene div.readstate svg line {stroke: #dedede; stroke-width: 3px;}
#content .scene div.readstate.is_read svg line {stroke: #666666;}



/* COMMENTS */
#content .scene div.comments {padding-bottom: 15px; position: relative; z-index: 1;}
#content .scene div.comments h2 {font-size: 16px; padding-bottom: 25px; position: relative; color: #dedede; cursor: pointer;}
#content .scene div.comments h2 svg.arrow {position: absolute; top: 6px; right: 55px;}
#content .scene div.comments h2 svg.arrow line {stroke: #dedede; stroke-width: 3px;}

#content .scene div.comments > p,
#content .scene div.comments ul.comments,
#content .scene div.comments ul.actions {display: none;}

#content .scene div.comments.open h2 {color: #888888;}
#content .scene div.comments.open > p,
#content .scene div.comments.open ul.comments,
#content .scene div.comments.open ul.actions {display: block;}

#content .scene div.comments > p {color: #999999; font-size: 13px; padding-bottom: 25px;}
#content .scene div.comments ul.comments {padding: 0; margin: 0;}
#content .scene div.comments ul.comments > li {padding-bottom: 10px; padding-left: 0;}
#content .scene div.comments ul.comments > li ul.info {padding-bottom: 0; margin: 0; list-style: none;}
#content .scene div.comments ul.comments > li ul.info li {display: inline-block; vertical-align: top; color: #999999; font-size: 12px; padding-bottom: 0; padding-left: 0;}
#content .scene div.comments ul.comments > li ul.info li.user:after {content: ",\00a0";}
#content .scene div.comments ul.comments > li p.comment {padding-bottom: 15px; font-size: 13px;}
#content .scene div.comments .field {padding-bottom: 10px;}


/* CODE AND TYPECASTING */
#content .scene code {padding: 10px 10px; margin: 0 30px 15px; background-color: #ededed; color: #333333; font-size: 12px; display: block; overflow: auto; white-space: pre; border-radius: 5px;
	font-family: "Monaco", "Courier New", "Courier";
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
#content .scene span.type,
#content .scene span.var,
#content .scene span.value,
#content .scene span.file,
#content .scene span.htmltag,
#content .scene span.command {
	font-family: "Monaco", "Courier New", "Courier"; font-size: 0.8em;
}
#content .scene span.type {color: #a67800;}
#content .scene span.var {color: #007633;}
#content .scene span.value {color: #a65900; font-style: italic;}
#content .scene span.file {color: #a62300;}
#content .scene span.htmltag {text-transform: uppercase;}
#content .scene span.command {color: #4b5cd7;}


/* VCARD */
#content .scene div.vcard {padding: 0 50px 25px;}
#content .scene div.vcard ul {padding: 0;}
#content .scene div.vcard h3 {font-size: 18px;}
#content .scene div.vcard .name {padding: 0 0 15px;}
#content .scene div.vcard .tel,
#content .scene div.vcard .email {font-size: 13px; padding: 0 0 3px;}



/* USED BY (BRANDING FOOTER) */
#content .scene .usedby {min-width: 600px; margin-top: 20px; margin-bottom: -50px; padding-top: 5px; border-top: 1px solid #cccccc;}
#content .scene .usedby h2 {display: none; text-align: center; padding-bottom: 5px; font-size: 11px; width: auto; color: #bbbbbb; text-transform: uppercase;
	font-family: "OpenSans", Verdana, Arial, sans-serif;
}
#content .scene .usedby ul {padding-bottom: 0;}
#content .scene .usedby ul li {display: inline-block; width: 20%; background-position: center center; background-repeat: no-repeat; height: 150px; text-indent: -9999px;}
#content .scene .usedby ul li.metro {background-image: url(/img/logos/metro.png); background-size: 70px auto;}
#content .scene .usedby ul li.soulland {background-image: url(/img/logos/soulland.png); background-size: 70px auto;}
#content .scene .usedby ul li.cphpix {background-image: url(/img/logos/cphpix.png);}
#content .scene .usedby ul li.tuborg {background-image: url(/img/logos/tuborg.png);}
#content .scene .usedby ul li.distortion {background-image: url(/img/logos/distortion.png);}
#content .scene .usedby ul li.landskabsarkitekter {background-image: url(/img/logos/landskabsarkitekter.png);}
#content .scene .usedby ul li.urbangreen {background-image: url(/img/logos/urbangreen.png);}
#content .scene .usedby ul li.oeo {background-image: url(/img/logos/oeo.png);}

#content .scene .usedby ul li.peoplegroup {background-image: url(/img/logos/peoplegroup.png);}



/* LOGIN */
#content .scene.login form {padding-bottom: 20px;}

/* ERROR MESSAGES */
#content .errormessage {color: #df0000;}
