/* ARTICLE BODY */
#content .scene .articlebody ul,
#content .scene .articlebody ol {list-style-position: outside; margin-left: 15px; width: 485px;}
#content .scene .articlebody ul {list-style-type: disc;}
#content .scene .articlebody ol {list-style-type: decimal;}
#content .scene .articlebody li {font-size: 14px; padding-bottom: 7px; padding-left: 3px;}


/* TODOLIST */
#content .scene.todolist {}


/* TASK (TODO) */
#content .scene.todolist ul.todos > li {position: relative;}
#content .scene.todolist ul.todos > li h3 {padding-right: 100px;}

/* TASK INFO */
#content .scene.todolist ul.todos dl.info dd:after {content: ",\00a0";}
#content .scene.todolist ul.todos dl.info dd:last-child:after {content: "";}


/* DONE / NOT DONE */
#content .scene.todolist ul.todos > li ul.actions {padding: 0; position: absolute; top: 20px; right: 0;}
#content .scene.todolist ul.todos > li ul.actions li {padding: 0;}
#content .scene.todolist ul.todos > li ul.actions.closed .close {display: none;}
#content .scene.todolist ul.todos > li ul.actions .open {display: none;}
#content .scene.todolist ul.todos > li ul.actions.closed .open {display: inline-block;}
