#content {position: relative; width: 600px; margin: 0 auto;}
#content .scene {position: relative; padding: 50px 0;}



/* BASIC CONTENT */
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene a:hover {text-decoration: underline;}

#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {max-width: 500px;}
#content .scene hr {border: none; border-top: 1px solid #888888; margin: 15px 15px 20px; padding: 0;}
#content .scene p.note {font-style: italic;}

/* ADDITIONAL H2 PADDING IN CERTAIN CASES */
#content .scene p+h2,
#content .scene ul+h2,
#content .scene ul+.pagination+h2,
#content .scene dl+h2,
#content .scene code+h2 {padding-top: 20px;}

#content .scene ul.tags+h2,
#content .scene dl.geo+h2,
#content .scene dl.info+h2 {padding-top: 0;}

#content .scene p+code {margin-top: -15px;}


/* LISTS */
#content .scene ul {padding: 0 50px 15px;}
#content .scene li {display: block; padding: 0 0 5px;}
#content .scene li h1,
#content .scene li h2,
#content .scene li h3,
#content .scene li h4,
#content .scene li h5,
#content .scene li h6,
#content .scene li p,
#content .scene li dl,
#content .scene li ul {padding-left: 0; padding-right: 0;}
#content .scene li code {margin-left: 0; margin-right: 0;}


/* ITEMS */
#content .scene ul.items {padding-bottom: 0;}
#content .scene ul li.item {padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #dedede;}


/* DEFINITION LIST */
#content .scene dl {padding: 0 50px 15px; overflow: hidden; width: 500px;}
#content .scene dt {padding: 0 0 5px 0; color: #999999;} 
#content .scene dd {padding: 0 0 12px 20px;}
#content .scene dt span {text-transform: none;}
#content .scene dl dl {padding: 0 0 10px 30px; width: 470px;}
#content .scene dl dl dt {}
#content .scene dl dl dd {}
#content .scene dl h3,
#content .scene dl h4,
#content .scene dl h5,
#content .scene dl h6 {padding-left: 0; padding-right: 0; padding-top: 10px;}


/* TAGS */
#content .scene ul.tags li {font-size: 12px;}


/* INFO */
#content .scene dl.info dt {display: none;}
#content .scene dl.info dd {padding-left: 0; padding-right: 0; padding-bottom: 3px; font-size: 12px; color: #999999;}
#content .scene dl.info dd.hardlink {display: none;}


/* GEOLOCATION */
#content .scene dl.geo {margin-top: -15px;}
#content .scene dl.geo dd {padding-left: 0; padding-right: 0; padding-bottom: 3px; font-size: 12px; color: #999999;}
#content .scene dl.geo dt {display: none;}
#content .scene dl.geo .latitude,
#content .scene dl.geo .longitude {display: none;}


/* INLINE IMAGE */
#content .scene div.image {display: none;}


/* PAGINATION */
#content .scene .pagination {margin: 0 50px 30px; padding: 20px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede;}
#content .scene .pagination ul {padding: 0; overflow: hidden;}
#content .scene .pagination .next,
#content .scene .pagination .previous {text-decoration: none; height: 14px; padding: 6px 12px 10px; display: inline; float: right; background-color: #63ADD0; color: #ffffff; border: none; cursor: pointer; border-radius: 3px; font-size: 14px;}
#content .scene .pagination .previous {float: left;}

#content .scene .pagination .next a,
#content .scene .pagination .previous a {color: #ffffff;}
#content .scene .pagination .next:hover,
#content .scene .pagination .previous:hover {background-color: #034769;}


/* CATEGORIES */
#content .scene div.categories {padding-bottom: 20px;}


/* CODE AND TYPECASTING */
#content .scene code {width: 480px; padding: 10px 10px; margin: 0 50px 15px; background-color: #ededed; font-size: 12px; display: block; white-space: pre-wrap; overflow: auto;
	font-family: "Monaco", "Courier New", "Courier";
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
#content .scene span.type,
#content .scene span.var,
#content .scene span.value,
#content .scene span.file,
#content .scene span.htmltag,
#content .scene span.command {
	font-family: "Monaco", "Courier New", "Courier"; font-size: 12px;
}
#content .scene span.type {color: #a67800;}
#content .scene span.var {color: #007633;}
#content .scene span.value {color: #a65900; font-style: italic;}
#content .scene span.file {color: #a62300;}
#content .scene span.htmltag {text-transform: uppercase;}
#content .scene span.command {color: #4b5cd7;}


/* VCARD */
#content .scene div.vcard {padding: 25px 50px;}
#content .scene div.vcard .name {padding: 0 0 15px;}
#content .scene div.vcard .tel,
#content .scene div.vcard .email {font-size: 14px;}


/* SHARING */
