/* ARTICLE BODY */
#content .scene .articlebody ul,
#content .scene .articlebody ol {list-style-position: outside; margin-left: 15px;}
#content .scene .articlebody ul {list-style-type: disc;}
#content .scene .articlebody ol {list-style-type: decimal;}
#content .scene .articlebody li {padding-bottom: 7px; padding-left: 3px; display: list-item;}



/* TODOLIST */
#content .scene.todolist {}


/* DONE / NOT DONE */
#content .scene.todolist ul.todos > li ul.actions {display: none;}
