
/*s-page.css*/
* {font-family: arial, verdana, sans-serif; line-height: 30px; font-size: 16px; color: #465159; font-weight: normal;
	-webkit-text-size-adjust: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
html {height: 100%;}
body {background: #ffffff url(/img/gx_loader.gif) no-repeat center center; margin: 0; height: 100%;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt, address {padding: 0; margin: 0;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
a:hover {text-decoration: none; color: black;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px;}
input, textarea {outline: none;
	-webkit-appearance: none;
}
#header {display: none;}
#content {padding: 100px 0 0; text-align: center;}
#content h1 {font-size: 40px; line-height: 1.2em;}
